<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação senha</title>
</head>
<body>
    <h1 style="text-align: center;">Recuperação de senha</h1>
    <h2 style="text-align: center;">Digite seu e-mail para receber a recuperação de senha.</h2>
    <p th:if="${erro}" th:text="${erro}"></p>
    <p th:if="${mensagem}" th:text="${mensagem}"></p>
    <form action="/esqueci-senha" method="post">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required placeholder="Seu endereço de e-mail">
        <button type="submit">Recuperar senha </button>
    </form>
    <a href="/login">Voltar para o login</a>
</body>
</html>
